<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.weilai.studythrough.mapper.exam.PaperMapper">

    <resultMap id="BaseResultMap" type="team.weilai.studythrough.pojo.exam.main.Paper">
            <id property="paperId" column="paper_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="examId" column="exam_id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="keepTime" column="keep_time" jdbcType="BIGINT"/>
            <result property="userTime" column="user_time" jdbcType="BIGINT"/>
            <result property="totalScore" column="total_score" jdbcType="INTEGER"/>
            <result property="passScore" column="pass_score" jdbcType="INTEGER"/>
            <result property="objScore" column="obj_score" jdbcType="INTEGER"/>
            <result property="subjScore" column="subj_score" jdbcType="INTEGER"/>
            <result property="userScore" column="user_score" jdbcType="INTEGER"/>
            <result property="hasSaq" column="has_saq" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        paper_id,user_id,exam_id,
        title,keep_time,user_time,
        total_score,pass_score,obj_score,
        subj_score,user_score,has_saq,
        status,create_time,update_time,
        end_time
    </sql>
</mapper>
