<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.weilai.studythrough.mapper.exam.QuestionMapper">

    <resultMap id="BaseResultMap" type="team.weilai.studythrough.pojo.exam.main.Question">
            <id property="questionId" column="question_id" jdbcType="BIGINT"/>
            <result property="questionType" column="question_type" jdbcType="TINYINT"/>
            <result property="questionLevel" column="question_level" jdbcType="TINYINT"/>
            <result property="questionContent" column="question_content" jdbcType="VARCHAR"/>
            <result property="questionSubject" column="question_subject" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="questionAnalysis" column="question_analysis" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="Detail" type="team.weilai.studythrough.pojo.exam.vo.QuestionDetailVO">
        <id property="questionId" column="question_id"/>
        <result property="questionContent" column="question_content"/>
        <result property="questionLevel" column="question_level"/>
        <result property="questionSubject" column="question_subject"/>
        <result property="questionType" column="question_type"/>
        <result property="createTime" column="create_time"/>
        <collection property="ansList" ofType="QuestionAns">
            <id property="ansId" column="ans_id"/>
            <result property="questionId" column="question_id"/>
            <result property="ansContent" column="ans_content"/>
            <result property="isRight" column="is_right"/>
        </collection>
    </resultMap>

    <resultMap id="Common" type="team.weilai.studythrough.pojo.exam.vo.QuCommonVO">
        <result property="questionContent" column="question_content"/>
        <result property="questionType" column="question_type"/>
        <collection property="ansList" ofType="QuestionAns">
            <result property="ansContent" column="ans_content"/>
        </collection>
    </resultMap>

    <resultMap id="PaperQu" type="team.weilai.studythrough.pojo.exam.vo.PaperQuVO">
        <result property="questionContent" column="question_content"/>
        <result property="questionType" column="question_type"/>
        <result property="answer" column="answer"/>
        <collection property="ansList" ofType="QuestionAns">
            <id property="ansId" column="ans_id"/>
            <result property="ansContent" column="ans_content"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        question_id,question_type,question_level,
        question_content,question_subject,create_time,
        question_analysis,update_time
    </sql>
    <select id="selectQuestion" resultType="team.weilai.studythrough.pojo.exam.vo.QuestionVO">
        select question_id,
            question_type,
            question_level,
            question_subject,
            question_content,
            create_time
        from st_question
        <where>
            <if test="dto.type != null">
                question_type = #{dto.type}
            </if>
            <if test="dto.subject != null and dto.subject != ''">
                and question_subject = #{dto.subject}
            </if>
            <if test="dto.level != null">
                and question_level = #{dto.level}
            </if>
        </where>
    </select>
    <select id="selectDetail" resultMap="Detail">
        select q.question_id,
               q.question_level,
               q.question_subject,
               q.question_type,
               q.question_content,
               q.create_time,
               a.ans_id,
               a.ans_content,
               a.is_right
        from st_question q
        left join st_question_ans a on q.question_id = a.question_id
        where q.question_id = #{questionId}
    </select>
    <select id="preview" resultMap="Common">
        select q.question_content,
               q.question_type,
               a.ans_content
        from st_question q
        left join st_question_ans a on q.question_id = a.question_id
        where q.question_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>

    </select>

    <select id="getQu" resultMap="PaperQu">
        select q.question_content,
            q.question_type,
            a.ans_content,
            a.ans_id,
            pq.answer
        from st_question q
        left join st_question_ans a on q.question_id = a.question_id
        join st_paper_question pq on pq.question_id = q.question_id
        where q.question_id = #{questionId} and pq.paper_id = #{paperId}
    </select>
</mapper>
