<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.weilai.studythrough.mapper.LessonStuMapper">

    <select id="selectLesson" resultType="team.weilai.studythrough.pojo.vo.LessonStuVO">
        select l.lesson_id,
               l.lesson_name,
               l.cover_url,
               l.end_time,
               l.create_time,
               u.user_id,
               u.name
        from st_lesson l
        join st_lesson_stu s on l.lesson_id = s.lesson_id
        join st_user u on l.user_id = u.user_id
        where s.user_id = #{userId} and s.status = 1
        <if test="name != null and name != ''">
            and l.lesson_name like concat('%',#{name},'%')
        </if>
        order by s.create_time desc
    </select>
</mapper>
