<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.weilai.studythrough.mapper.PaperQuestionMapper">

    <resultMap id="BaseResultMap" type="team.weilai.studythrough.pojo.exam.PaperQuestion">
            <id property="paperQuId" column="paper_qu_id" jdbcType="BIGINT"/>
            <result property="paperId" column="paper_id" jdbcType="BIGINT"/>
            <result property="questionId" column="question_id" jdbcType="BIGINT"/>
            <result property="answered" column="answered" jdbcType="TINYINT"/>
            <result property="answer" column="answer" jdbcType="VARCHAR"/>
            <result property="score" column="score" jdbcType="INTEGER"/>
            <result property="actualScore" column="actual_score" jdbcType="INTEGER"/>
            <result property="isRight" column="is_right" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        paper_qu_id,paper_id,question_id,
        answered,answer,score,
        actual_score,is_right
    </sql>
</mapper>
